<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286648485129-sb2sdbrh5gbe4pkea698vkab18711hg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286648485129-sb2sdbrh5gbe4pkea698vkab18711hg2</string>
	<key>API_KEY</key>
	<string>AIzaSyAmehhUyxkoXZwXrQ_NSTpKrbDMHKb6Ueg</string>
	<key>GCM_SENDER_ID</key>
	<string>286648485129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rahmonali.AezakmiApp</string>
	<key>PROJECT_ID</key>
	<string>aezakmiapp-cbd61</string>
	<key>STORAGE_BUCKET</key>
	<string>aezakmiapp-cbd61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286648485129:ios:32fe1cfa73e311be98ffd8</string>
</dict>
</plist>